*{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    
    text-align: center;
}


.btn {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #e58f8f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #4a934c;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

div{
    border: 2px solid black;
    height: 100px;
    width: 500px;
    margin: auto;
}

h2{
    color: black;
    
}